// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;



$primary   : #333333;
$secondary : #f09d22;
$accent    : #31aef7;

$dark      : #404040;

$positive  : #6dd184;
$negative  : #e63549;
$info      : #69ccfa;
$warning   : #f0ea48;


// $generic-border-radius: 20px;
$typography-font-family: 'Poppins', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$toolbar-title-font-size: 15px;
$toolbar-title-font-weight: 600;